@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.foto{
    height: 400px;
    
}

header{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    background-color: #f4a16e;
   
}
.slick-arrow{
    border: none;
    font-size: 0px;
    height: 10px;
    background: none;
    width: 20px;
}
ul.slick-dots{ 
    list-style-type: none;
    display: inline-flex;
    
}
.slick-initialized{
    overflow: hidden;
}

.slick-dots li button {
    margin-right: 5px;
    border-radius:50%;
    background: transparent;
    border: 3px solid white ;
    font-size: 0px;
    height: 15px;
    width: 15px;
    cursor:pointer;
}
.slick-dots li button:hover {
    background: #6ec1f4;
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    left: 48%;
    position: absolute;
    top: 85% ;
}

nav{
    background-color:black;
    height: 70px; display: flex;
    align-items: center;
    text-align: center;
    
}

.menu{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
  
}
    .grau{
        color:white;
        font-size: 20px;
    }

.menu a{
    display: inline;
    text-decoration: none;
    padding: 30px 30px 20px 30px;
}
.menu a:hover{ 
    display: inline;
    text-decoration: none;
    padding: 26px 26px 20px 26px;
    font-size: 25px;
}
.sair{
    height: 30px;
    width: 30px;
    margin-left: 50px;
    margin-right: 20px;
}
.redes{
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.icon a{
    margin-right: 5px;
}

.text{
    color: rgb(255, 255, 255);    
    max-width: 1100px;
    align-items: center; 
    background: black;
    padding: 60px 20px 20px;
}
.textos{  
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
